<div>
  <h2>Login</h2>
  <div>
    <label>username:
      <!-- <input [(ngModel)]="productData.prod_name" placeholder="Product Name"/> -->
    </label><br>
    <label>password:
      <!-- <input [(ngModel)]="productData.prod_desc" placeholder="Product Description"/> -->
    </label><br>
    <label>site id:
      <!-- <input [(ngModel)]="productData.prod_price" placeholder="Product Price"/> -->
    </label><br>
  </div>
  <button (click)="loginTest()">login</button>
</div>